@media screen and (max-width: 767px) {
    section{
    margin-bottom: $section-mobile-margin;
    &.banner{
        margin-bottom: 50px;
    }
    }

    h6, .h6{
        font-size: 16px;
    }

    .btn, .btn.btn-secondary {
        padding: 15.5px 35px;
        font-size: 16px;
    }

    .btn.btn-sm{
        padding: 16px 22px;
    }

    .banner {
        .btn-row {
            margin-bottom: 36px;
        }
    
    &-advantage {
        width: 82px;
        &__title {
            font-size: 42px;
            margin-bottom: 4px;
        }
        &__description {
            font-size: 14px;
        }
    }

    }

    .advantages {
        flex-direction: column;
        align-items: center;
        border-radius: 26px;
        max-width: 260px;
        margin: 0 auto $section-mobile-margin;
        padding: 32px 42px;
        .label {
            top: -24px;
            left: 211px;
        &:before {
                transform: translate(-50%, -50%);
        }
    }
}

    .advantage-img {
        --size: 86px;
        width: var(--size);
        height: var(--size);
        img{
            --size: 104px;
            width: var(--size);
            height: var(--size);
        }
    }

    .advantage-title {
        font-size: 22px;
    }
    
    .advantage-description {
        font-size: 14px;
        max-width: 150px;
        margin: 0 auto;
    }

    .label {
        --size: 82px;
        font-size: 18px;    
    
        &.label_text-large {
            font-size: 24px;
        }
    
        &.label_sm {
            --size: 82px;
            font-size: 18px; 
        }
    }
}
