@media screen and (min-width: 768px) {
    .advantage{
        width: 228px;
    }
}

@media screen and (min-width: 651px) {
    .swiper-container{
        position: relative;
        width: 548px;
    }
}

