.banner{
    margin-top: 126px;
    .container{
       display: flex;
       justify-content: space-between;
       gap: 36px;
    }
     
    &-img{
        padding: 12px;
        position: relative;
        max-width: 472px;
        .label{
            position: absolute;
            top: 14px;
            right: 39px;
        }
    }

    .template-title{
        h1{
            display: flex;
            flex-direction: column;       
        } 
    }
    .btn-row{
        margin-bottom: 50px;
    }

    &-advantages{
        display: flex;
        gap: 46px;
    }

    &-advantage{
        width: 126px;
    }

    &-advantage__title{
        font-size: 62px;
    }
    &-advantage__description{
        font-size: 20px;
    }
}