html {
    font-family: $font-primary;
    font-size: $font-size;
}

body{
    background-color: $bg-body;
    color: $color-text;
}

section{
    margin-bottom: $section-margin;
}

.logo {
    max-width: 195px;
}

.container{
    max-width: 1278px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-800 {
    font-weight: 800;
}

/*!important*/
.show{
    display: block !important;
}

.d-none{
    display: none !important;
}

.d-block{
    display: block !important;
}

.d-flex{
    display: flex !important;
}
/**/

::selection {
    color: $primary-color;
    background-color: $bg-footer;
}