.header {
    padding: 48px 0;
    .container {
        // margin-left: 130px;
        --gap: 94px;
        display: flex;
        gap: var(--gap);
    }
    &-nav {
        display: flex;
        gap: var(--gap);
        &__item {
            font-size: 20px;
            color: $color-text;
            &:hover {
                color: $secondary-color;
            }
        }
    }
}


.mobile-container {
    display: flex;
    align-items: center;
}

.btn-burger {
    --width: 42px;
    margin-left: auto;
    position: relative;
    width: var(--width);
    
    span {
        @include btn-burger;


        &:before,
        &:after{
            @include btn-burger;
            content: "";
        }

        &:before {
            top: 9px
        }

        &:after {
            top:18px
        }
    }

    &.active{
        span {
            transform: rotate(-45deg);


            &:before {
                opacity: 0;
                transform: rotate(90deg) translate(-15px, 0px);
            }

            &:after {
                transform: rotate(90deg) translate(-15px, 0px);
            }
        }
    }

}