<div class="modal">
    <div class="modal-body">
        <a href="#" class="btn btn-close"></a>
        <h2>Lorem ipsum dolor sit.</h2>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae iusto aperiam sed et minima quasi sit
        doloremque animi eligendi velit tempora necessitatibus voluptates molestias sint perspiciatis eos cupiditate
        voluptate, maiores incidunt quia in neque iste dolorem. Sed in ad sunt aperiam, itaque sequi distinctio aliquid
        error officiis vel quibusdam dolores repellendus et laboriosam nam placeat, quam voluptates ducimus dignissimos
        asperiores, quas totam similique? Voluptatem beatae assumenda, error officiis cupiditate similique esse debitis
        ad architecto praesentium.
        <ul>
            <li>Lorem ipsum dolor sit.</li>
            <li>Lorem ipsum dolor sit.</li>
            <li>Lorem ipsum dolor sit.</li>
        </ul>
        <button class="btn btn-secondary">Close</button>
        <button class="btn btn-primary">Ok</button>
    </div>

</div>