<div class="custom-video">
    <video id="video" src="./assets/img/test-video.mp4"></video>
    <div class="btn-row">
        <button id="play" class="btn btn-primary">
            <svg class="icon-svg">
                <use href="#icon-play"></use>
            </svg>
        </button>
        <button id="pause" class="btn btn-secondary">
            <svg class="icon-svg">
                <use href="#icon-pause"></use>
            </svg>
        </button>
        <button id="stop" class="btn btn-secondary">
            <svg class="icon-svg">
                <use href="#icon-stop"></use>
            </svg>
        </button>
        <button id="volume" class="btn-volume">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 56 60" fill="none">
                <g id="volume">
                    <g class="volume-off">
                        <path id="Vector_3" d="M53.9999 23.4712L47.6687 30.2327L41.3374 36.9943" stroke="white"
                            stroke-width="4" />
                        <path id="Vector_2" d="M41.3375 23.2252L47.6687 29.9868L54 36.7483" stroke="white"
                            stroke-width="4" />
                    </g>
                    <g class="volume-on">
                        <path id="vector_1"
                            d="M9.86534 17.4473C10.2064 17.0548 29.4124 4.04712 29.4124 4.04712C33.9611 29.2493 33.9611 29.3722 29.0436 56.2955L9.00478 41.9118M9.86534 17.4473L9.00478 41.9118M9.86534 17.4473C9.86534 17.4473 5.63279 16.089 3.59554 17.4473C2.12038 18.4308 1.25985 41.5076 2.85792 41.9118C5.18512 42.5005 9.00478 41.9118 9.00478 41.9118"
                            stroke="white" stroke-width="4" />
                    </g>
                </g>
            </svg>

        </button>
    </div>
    <div class="current-time">
        <button id="part-1">1:20 - learn html</button>
        <button id="part-2">2:28 - learn class</button>
        <button id="part-3">3:47 - cpecific css</button>
    </div>
    <div class="video-description">
        <div class="video-description__content">
            <h4>Lorem, ipsum.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla reprehenderit ipsam aliquam impedit
                labore facere minima natus officiis praesentium ex ipsa error et laboriosam tempore asperiores
                voluptatem, non dolorem accusantium?</p>
            <ul>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
            </ul>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident eligendi fugit, possimus suscipit
                numquam a accusantium et. Fugiat earum omnis quidem culpa vitae rerum eum incidunt animi voluptatem
                architecto, dolores eligendi eaque aliquam minima nesciunt molestiae fuga saepe asperiores possimus
                unde, odit accusantium? Distinctio et, culpa cum commodi dolores impedit, repellendus eius aut vitae
                consequuntur corporis?</p>
        </div>
        <button class="show-hide">show</button>

    </div>
</div>